.App {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  background: darkslategray;
  width: 100vw;
  height: 100vh;
}

.App-map {
  height: 400px;
  width: 100%;
  max-width: 600px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
