body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #21232c;
  color: white;
  font-family: 'DM Sans', 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  background: #ffc4e0;
  height: 48px;
  border-radius: 8px;
  border: none;
  padding: 0;
  color: #2a212c;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: 'DM Sans', 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  transition-property: background;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}
button:hover:not(:disabled) {
  background: #ffdaeb;
}
button:active:not(:disabled) {
  background: #d697b5;
}
button:disabled {
  opacity: 0.3;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
  height: 100vh;
  padding: 64px 96px;
}

.Photo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  min-width: 300px;
  background: #15161c;
  border-radius: 16px;
  overflow: hidden;
}

.Photo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.preload {
  display: none !important;
}

.Game-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.Game-status {
  text-align: center;
  line-height: 1.5;
}

.Game-score {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.MapPicker {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.MapPicker-map {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.MapPicker-message {
  padding: 0 32px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-grab {
  cursor: pointer;
}
